
    <footer class="footer">
      <div class="container" style="text-align: left;">
          <p class="text-muted text-center" >Stella Massa Rebolledo</p>
      </div>
  </footer>
  <script src="/jquery/dist/jquery.slim.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    var getTitle = "<%= title %>";
  </script>
  <script src="/javascripts/app.js"></script>
</body>
</html>