<% include partials/header.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h1><%= title %></h1>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">firstName</th>
                    <th class="text-center">lastName</th>
                    <th class="text-center">email</th>
                    <th>Size</th>
                    <th class="text-center">Tags</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                
                
            </table>
        </div>
    </div>
  </main>

<% include partials/footer.ejs %>