<% include partials/header.ejs %>
  
  <h2 style="text-align: left;"><%= title %></h2>

  <div class="jumbotron">
    <h3 class="display-10">Hi!</h3>
    <p class="lead">My name is Stella Massa Rebolledo and it's a pleasure to have you here. I'm a Geomatics Engineer learning Software, I work hard and learn fast.</p>
    <p><em>"The mind is everything. What you think, you become" -Buddha.</em></p>
    <hr class="my-4">
    <p> - Making GIS and Software closer than ever - </p>
    <p class="lead">
      <a class="btn btn-primary btn-md" href="../about" role="button">Learn more</a>
    </p>
</div>

<% include partials/footer.ejs %>