<% include partials/header.ejs %>
  
  <h2 style="text-align: left;"><%= title %></h2>

  <div class="container">
    <table class="table">
      <thead>
       <tr>
          <th>Project</th>
          <th>Information</th>
        </tr>  
      </thead>
      <tbody>
        <tr>
          <td>Panama Census 2022</td>
          <td>Make maps for census purposes and statistical surveys, and digitize the information acquired in field surveys, using satellite and aerial imagery. </td>
        </tr>
        <tr>
          <td>Metrotrack</td>
          <td>Prototype of an application to manage the transportation system in Panama</td>
        </tr>
        <tr>
          <td>Determine the susceptibility to slides in El Cope and surroundings, Panama.</td>
          <td>Collected information about the environment and the physical conditions of the slopes in El Cope to determine whether they were susceptible to slides.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="image">
    <img src="/images/SusFinal.jpg" style="width:400px; height:300px;">
  </div>


<% include partials/footer.ejs %>