<% include partials/header.ejs %>
  
  <h2 style="text-align: left;"><%= title %></h2>

  <hr class="my-4">

  <div class="container">
    <h3><strong>Skills and Tools</strong></h3>
    <ul>
      <li>Map making with ArcGIS and Geomedia</li>
      <li>Basic programming with Python</li>
      <li>Basic managing of SQL database</li>
    </ul>
  </div>

<% include partials/footer.ejs %>