<% include partials/header.ejs %>

  <div class="container">
    <h2 style="text-align: left;"><%= title %></h2>
    <h3 style="text-align: left">Stella Massa Rebolledo</h3>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/images/YoenVestidoAzul(2).jpg" alt="Stella Massa Rebolledo">
    </div>
    <div class="container">
        <p class="text">I'm a Geomatics Engineer studying Software. I worked for the Census Authority in Panama, where I collaborated making the maps and GIS for surveys and census purposes. I aim to learn software development to enriched my skills and complement my previous knowledge.</p>
      </div>
  </div>
   <div class="jumbotron">
    <p class="text-center">
      <a class="btn btn-primary btn-md" href="https://drive.google.com/file/d/1KyPLuvByE9RUoIkvIUQ3i9WQHQHR0Xkr/view?usp=sharing" role="button">Resume</a>
    </p>
</div>
  
    </div>
  
<% include partials/footer.ejs %>